ICT_GRAPH_DEBUG=false
ICT_GRAPH_LOG_LEVEL=INFO
ICT_GRAPH_NEO4J_URI=bolt://localhost:7687
ICT_GRAPH_NEO4J_USER=neo4j
ICT_GRAPH_NEO4J_PASSWORD=
ICT_GRAPH_SECRET_KEY=change-me-in-production
ICT_GRAPH_CRAWLER_BASE_URL=https://www.ict.unesp.br
